workflows/finwise-cron-workflow.json
{
    "name": "FinWise Cron Manager",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM finwise_db.budgets WHERE is_locked = FALSE;"
            },
            "id": "fetch-budgets",
            "name": "Fetch Budgets",
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "mySql": {
                    "id": "1",
                    "name": "Local XAMPP MySQL"
                }
            }
        },
        {
            "typeVersion": 1,
            "position": [
                900,
                53
            ],
            "parameters": {
                "jsCode": "const alerts = [];\nconst criticals = [];\n\nfor (const item of $input.all()) {\n  const budget = item.json;\n  const limit = parseFloat(budget.limit_amount);\n  const spent = parseFloat(budget.spent);\n  \n  if (limit > 0) {\n    const ratio = spent / limit;\n    const percent = (ratio * 100).toFixed(1);\n    \n    if (ratio >= 1.0) {\n      criticals.push(`<li><b>${budget.category}</b>: Đã tiêu <b style=\"color:red\">${percent}%</b> (${parseInt(spent).toLocaleString()} / ${parseInt(limit).toLocaleString()}) - <u>Hệ thống đã khóa chi tiêu</u>.</li>`);\n    } else if (ratio >= 0.8) {\n       alerts.push(`<li><b>${budget.category}</b>: Đã tiêu <span style=\"color:orange\">${percent}%</span> (${parseInt(spent).toLocaleString()} / ${parseInt(limit).toLocaleString()}).</li>`);\n    }\n  }\n}\n\nif (alerts.length === 0 && criticals.length === 0) return [];\n\nlet html = '';\nif (criticals.length > 0) {\n  html += `<h3>🚨 CẢNH BÁO ĐỎ (Đã vượt ngân sách)</h3><ul>${criticals.join('')}</ul>`;\n}\nif (alerts.length > 0) {\n  html += `<h3>⚠️ Cảnh báo sắp tới hạn mức</h3><ul>${alerts.join('')}</ul>`;\n}\n\nreturn [{\n  json: {\n    subject: `[FinWise] Cảnh báo Ngân sách (${criticals.length + alerts.length} mục)`, \n    message: html,\n    toEmail: 'tumngf@gmail.com'\n  }\n}];"
            },
            "id": "analyze-budgets",
            "name": "Analyze Budgets",
            "type": "n8n-nodes-base.code",
            "conditions": {
                "string": [
                    {
                        "value1": "={{ $json.alertLevel }}",
                        "value2": "CRITICAL"
                    }
                ]
            }
        },
        {
            "id": "filter-critical",
            "name": "Filter Critical Budgets",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                900,
                100
            ],
            "parameters": {
                "jsCode": "const criticals = [];\nfor (const item of $input.all()) {\n  const budget = item.json;\n  const limit = parseFloat(budget.limit_amount);\n  const spent = parseFloat(budget.spent);\n  if (limit > 0 && spent / limit >= 1.0) {\n    criticals.push({ json: budget });\n  }\n}\nreturn criticals;"
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE finwise_db.budgets SET is_locked = TRUE, updated_at = NOW() WHERE id = {{ $json.id }};"
            },
            "id": "lock-budget",
            "name": "Lock Budget",
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 1,
            "position": [
                1380,
                200
            ],
            "credentials": {
                "mySql": {
                    "id": "1",
                    "name": "Local XAMPP MySQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM finwise_db.bills WHERE status = 'Chờ thanh toán';"
            },
            "id": "fetch-bills",
            "name": "Fetch Bills",
            "type": "n8n-nodes-base.mySql",
            "typeVersion": 1,
            "position": [
                680,
                500
            ],
            "credentials": {
                "mySql": {
                    "id": "1",
                    "name": "Local XAMPP MySQL"
                }
            }
        },
        {
            "typeVersion": 1,
            "position": [
                900,
                500
            ],
            "parameters": {
                "jsCode": "const urgent = [];\nconst upcoming = [];\nconst today = new Date();\n\nfor (const item of $input.all()) {\n  const bill = item.json;\n  if (!bill.due_date) continue;\n  const dueDate = new Date(bill.due_date);\n  const diffTime = dueDate - today;\n  const daysLeft = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n  const amountStr = parseInt(bill.amount).toLocaleString() + ' ₫';\n  \n  if (daysLeft < 0) {\n      urgent.push(`<li><b style=\"color:red\">QUÁ HẠN ${Math.abs(daysLeft)} ngày</b>: ${bill.name} - ${amountStr}</li>`);\n  } else if (daysLeft === 0) {\n      urgent.push(`<li><b style=\"color:red\">HÔM NAY</b>: ${bill.name} - ${amountStr}</li>`);\n  } else if (daysLeft <= 3) {\n      urgent.push(`<li><b style=\"color:orange\">Gấp (${daysLeft} ngày)</b>: ${bill.name} - ${amountStr}</li>`);\n  } else {\n      upcoming.push(`<li>${bill.name} - ${amountStr} (Hạn: ${bill.due_date})</li>`);\n  }\n}\n\nif (urgent.length === 0 && upcoming.length === 0) return [];\n\nlet html = '';\nif (urgent.length > 0) {\n  html += `<h3>🔥 Hóa đơn cần thanh toán NGAY</h3><ul>${urgent.join('')}</ul>`;\n}\nif (upcoming.length > 0) {\n  html += `<h3>📅 Hóa đơn sắp tới</h3><ul>${upcoming.join('')}</ul>`;\n}\n\nreturn [{\n  json: {\n    subject: `[FinWise] Nhắc nhở Hóa đơn (${urgent.length + upcoming.length} mục)`, \n    message: html,\n     toEmail: 'tumngf@gmail.com'\n  }\n}];"
            },
            "id": "analyze-bills",
            "name": "Analyze Bills",
            "type": "n8n-nodes-base.code"
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "={{ $json.subject }}",
                "message": "={{ $json.message }}",
                "toEmail": "tumngf@gmail.com",
                "email": "tumngf@gmail.com",
                "emails": "tumngf@gmail.com",
                "to": "tumngf@gmail.com"
            },
            "id": "send-email",
            "name": "Send Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1600,
                340
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "2",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "url": "http://127.0.0.1:5000/api/scan-anomalies",
                "method": "GET",
                "options": {}
            },
            "id": "scan-anomalies-api",
            "name": "Scan Anomalies (Flask)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                680,
                700
            ]
        },
        {
            "parameters": {
                "jsCode": "const results = [];\nconst data = $input.first().json;\nlet anomalies = [];\n\nif (data.anomalies && data.anomalies.length > 0) {\n  const typeMap = {\n    'HIGH_VALUE': { label: 'Giao dịch lớn', color: '#B91C1C', bg: '#FEF2F2' },\n    'DUPLICATE': { label: 'Nghi vấn trùng', color: '#C2410C', bg: '#FFF7ED' },\n    'RAPID_SPEND': { label: 'Chi tiêu dồn dập', color: '#A16207', bg: '#FEFCE8' }\n  };\n\n  anomalies = data.anomalies.map(a => {\n     const style = typeMap[a.type] || { label: a.type, color: '#374151', bg: '#F3F4F6' };\n     const cleanMsg = a.message.replace(/🚨|⚠️|WARNING:|CRITICAL:|NGHI VẤN TRÙNG LẶP:|GIAO DỊCH LỚN:/g, '').trim();\n     return `<div style=\"margin-bottom: 8px; padding: 12px; background-color: ${style.bg}; border-left: 4px solid ${style.color}; border-radius: 4px;\">\n        <div style=\"display: inline-block; padding: 2px 8px; border-radius: 12px; background-color: ${style.color}; color: white; font-size: 10px; font-weight: bold; margin-bottom: 4px;\">${style.label}</div>\n        <div style=\"color: #1F2937; font-size: 14px; font-weight: 500;\">${cleanMsg}</div>\n     </div>`;\n  });\n}\n\nif (anomalies.length === 0) return [];\n\nconst html = `\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; max-width: 600px;\">\n  <h3 style=\"color: #111827; margin-bottom: 16px;\">🚨 Cảnh báo Bất thường Giao dịch</h3>\n  <div style=\"display: flex; flex-direction: column; gap: 8px;\">${anomalies.join('')}</div>\n  <p style=\"font-size: 11px; color: #6B7280; margin-top: 24px; border-top: 1px solid #E5E7EB; padding-top: 12px;\">Hệ thống FinWise AI Security • ${new Date().toLocaleString('vi-VN')}</p>\n</div>`;\n\nreturn [{\n  json: {\n    subject: `[FinWise Security] 🛡️ Phát hiện ${data.anomalies.length} giao dịch bất thường`, \n    message: html,\n     toEmail: 'tumngf@gmail.com'\n  }\n}];"
            },
            "id": "process-anomalies",
            "name": "Process Anomalies",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                900,
                700
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Budgets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Bills",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Scan Anomalies (Flask)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Budgets": {
            "main": [
                [
                    {
                        "node": "Analyze Budgets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Filter Critical Budgets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Budgets": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Critical Budgets": {
            "main": [
                [
                    {
                        "node": "Lock Budget",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lock Budget": {
            "main": [
                []
            ]
        },
        "Fetch Bills": {
            "main": [
                [
                    {
                        "node": "Analyze Bills",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Bills": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scan Anomalies (Flask)": {
            "main": [
                [
                    {
                        "node": "Process Anomalies",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Anomalies": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}